/* Stylesheet for the 53 redesign 


Colors:
White #fff
Black #161616
Blue #173869
Contrast button color #e1ad01


Monteserrat for main titles 
eaves for body text


/* Box model Fix */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* Clear Fix */

.row:before,
.row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

/* Image rules */

img {
	width: 100%;
}

/* Type Hierarchy */

@font-face {
    font-family: "GT-Super";
    src: url("../GT-Super/GT-Super-Display-Super.woff2");
}

@font-face {
	font-family: "GT-Medium";
	src: url("../GT-Super/GT-Super-Display-Medium.woff2");
}

@font-face {
	font-family: "GT-Light";
	src: url("../GT-Super/GT-Super-Display-Regular.woff2");
}

body {
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 400;
	background-color: #fff;
}

h1 {
	font-family: "GT-Super";
	font-size: 60px;
	margin: 1;
	/* we could also use font-size: 4rem; to get the same size. 
	Ultimatley if we were building a site to be completely 
	responsive then we would want to use this but I am going 
	to use my Figma File as a refernce and they use absolute values
	*/
}

h2 {
	font-family: "GT-Super";
	font-size: 36px;
	margin: 0;
}

h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.8rem;
	margin: 0;
}

h4 {
	font-family: "GT-Super";
	font-size: 20px;
	font-weight: 300;
	line-height: 1.8rem;
	margin: 0;
}

h5 {
	font-family: 'Poppins';
	font-size: 20px;
	font-weight: 300;
	line-height: 1.8rem;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.8rem;
	margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

a:hover {
	color: #e1ad01;
}

ul {
	list-style-type: none;
}

.tighten {
	letter-spacing: -0.03em;
}

/* header styles and rules */

header {
	background-color: #173869;
	color: #fff;
	position: fixed;
	height: 90px;
	z-index: 4;
	font-size: 0.7em;
}

.icon {
	fill:  whitesmoke;
}

#logo a {
	display: inline-block;
	padding: 1rem;
	max-width: 120px;
	margin-top: 15px;
}

#search {
	display: inline-block;
	border-style: solid;
	border-color: #fff;
	margin-left: 10px;
	padding: 1rem 20px;
	border-radius: 30px;
	width: 310px;
}

#search a {
	line-height: 100px;
}

#search:hover {
	color: #e1ad01;
	border-color: #e1ad01;
}

header ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

/* Homepage hero styles and rules */

#hero {
	background-image: url("../Images/hero1.jpg");
	background-size: cover;
	height: 90vh;
}

#hero-chunk {
	width: 400px;
	color: #fff;
	margin-top: 250px;
	margin-left: 100px;
}

#hero h1 {
	padding-bottom: 16px;
}

#hero h5 {
	padding-bottom: 30px;
}

a.CTA {
	background-color: #173869;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding: 1em 2.5em;
	border-radius: 2em;
}

a.CTA:hover {
	background-color: #e1ad01;
}

/* Homepage mission statemetent styles and rules */
#mission {
	text-align: center;
	color: #161616;
	width: 680px;
	margin: 80px auto;
	margin-bottom: 160px;
}

#mission h2 {
	padding-bottom: 60px;
}

#mission p {
	width: 600px;
	margin: 0 auto;
}

/* Splash graphic 
Its the same as a container-fluid section 
but it doesn't have any content*/ 

#splash {
	width: 100%;
	height: 100vh;
	margin-top: -100px;
	background-image: url("../Images/splash.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}


/* Homepage product feature styles and rules */

#feature {
	margin-top: -470px;
}

.card-chunk span {
	font-family: "GT-Light";
	font-size: 34px;
}

.card-chunk h2 {
	margin: 50px 0;
}

.card-chunk p {
	margin-bottom: 50px;
}

a.CTAtoo {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding: 1em 2.5em;
	border-radius: 2em;
	border-style: solid;
}

.CTAtoo:hover {
	color: #fff;
	border-style: solid;
	border-color: transparent;
	background-color: #e1ad01;
}

#paper {
	background-color: #161616;
	color: #fff;
	width: 95vw;
	height: 720px;
	margin: 0 auto;
	border-radius: 20px;
	margin-bottom: 50px;
	padding: 100px;
	display: grid;
	grid-template-columns: 470px 670px;
	column-gap: 80px;
	overflow: hidden;
}

#pencil {
	background-color: #fff;
	color: #161616;
	width: 95vw;
	height: 720px;
	margin: 0 auto;
	border-radius: 20px;
	padding: 100px;
	display: grid;
	grid-template-columns: 670px 470px;
	column-gap: 50px;
	overflow: hidden;
}

#video {
	background-color: black;
	width: 970px;
	margin: -300px auto;
	border-radius: 20px;
	overflow: hidden;
}

#video video {
	display: block;
	margin: 0 auto;
}

#illust {
	margin-top: -500px;
	height: 570px;
	position: relative;
	overflow: hidden;
	padding: 0;
}

#illust h6 {
	font-size: 10px;
	color: #fff;
	position: absolute;
	right: 20px;
	bottom: 0px;
	z-index: -1;
}

#illust img{
	position: absolute;
	z-index: -2;
}

#product-grid {
	width: 1170px;
	margin: 50px auto;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
}

#newsletter {
	height: 20vh;
	margin-top: 40px;
}

#newsletter .row {
	margin-bottom: 30px;
}

#newsletter .btn {
	background-color: none;
}

#newsletter .btn:hover {
	background-color: black;
}

.btn{
	border-radius: 50px;
	border-color: #173869;
	color: #173869;
	padding: 10px;
}

.btn:hover {
	border-style: solid;
	border-color: transparent;
	background-color: #e1ad01 !important;
}

.form-control {
	margin-top: 5px;
	margin-left: 50px;
}

/* About US page styles and rules */ 
#abouthero {
	text-align: center;
	z-index: 3;
	color: #161616;
	width: 680px;
	margin-top: 0px;
	margin-bottom: 250px;
}

#abouthero h1 {
	padding-bottom: 20px;
	margin-top: -360px;
}

#abouthero p {
	width: 600px;
	margin: 0 auto;
} 

#aboutillust {
	position: relative;
	padding-top: 40px;
	z-index: -2;
	width: 65%;
	opacity: .7;
}

#aboutcard {
	background-color: #161616;
	color: #fff;
	width: 95vw;
	height: 475px;
	margin: 0 auto;
	border-radius: 20px;
	margin-bottom: 50px;
	padding: 100px 100px;
	display: grid;
	grid-template-columns: 570px 570px;
	column-gap: 75px;
	overflow: hidden;
}

#aboutcard2 {
	background-color: #e88876;
	color: #161616;
	width: 95vw;
	height: 600px;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 20px;
	margin-bottom: 50px;
	padding: 100px 100px;
	display: grid;
	grid-template-columns: 570px 570px;
	column-gap: 75px;
	overflow: hidden;
}

#aboutillust2 {
	margin-top: -725px;
	position: absolute;
	z-index: -2;
	transform: rotate(180deg);
}

.card-chunk h1 {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 90px;
}

#aboutcard2 h1 {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 150px;
}

/* Products Page styles and rules */ 

.navmenu2title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 135px;
	margin-bottom: 0px;
}

.navmenu2title h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 18pt;
	font-weight: 300;
}

.navmenu2 {
	height: 65px;
	z-index: 3;
	font-size: 0.7em;
}

ul.navmenu2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	column-gap: 55px;
	margin-top: 0px;
	margin-bottom: 100px;
}

.navbutton2 {
	text-decoration: none;
	color: #173869;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 18pt;
}

.navbutton2:hover {
	color: #e1ad01;
}

/* Paper Product page styles and rules */ 

#paperpage {
	color: #e1ad01;
}

#producthero {
	text-align: center;
	color: #161616;
	width: 680px;
	margin-top: -178px;
	margin-bottom: 160px;
}

#producthero h1 {
	padding-bottom: 50px;
}

#producthero p {
	width: 600px;
	margin: 0 auto;
}

#heroillust {
	position: relative;
	margin-top: -100px;
	z-index: -2;
	overflow: hidden;
	width: 50vw;
}

#prodvideo {
	background-color: black;
	width: 625px;
	margin: -100px auto;
	border-radius: 20px;
	overflow: hidden;
}

#prodvideo video {
	display: block;
	margin: 0 auto;
}

#illust2 {
	margin-top: -1250px;
	height: 650px;
	position: relative;
	overflow: hidden;
	padding: 0;
}

#illust2 img{
	position: absolute;
	z-index: -2;
}

#paper2 {
	background-color: #161616;
	color: #fff;
	width: 95vw;
	height: 740px;
	margin: 0 auto;
	margin-top: 250px;
	border-radius: 20px;
	margin-bottom: 50px;
	padding: 65px 100px 100px;
	display: grid;
	grid-template-columns: 670px 470px;
	column-gap: 75px;
	overflow: hidden;
}

#paperlist {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.8rem;
	margin: 0;
	list-style-type: disc;
}

#madepaper {
	height: 600px;
	width: 100vw;
	padding: 100px;
	font-size: 0.7em;
	position: absolute;
	left: 0px;
	margin-top: 650px;
	color: #161616;
	text-align: center;
}

.gallery {
	color: #717171;
	border-radius: 20px;
}

div.gallery {
	margin-left: 2.5vw;
  margin-top: 40px;
  border: none;
  float: left;
  width: 300px;
	padding-left: 20px;
  padding-right: 20px;
}

div.gallery img:hover {
	box-shadow: 0 0 11px grey; 
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

div.desc {
	color: #161616;
  padding: 15px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
	font-weight: 400;
	line-height: 1.8rem;
}

#illust3 {
	width: 85%;
	margin-top: 580px;
}

/* Footer styles and rules */

footer {
	background-color: #173869;
	border-radius: 125px 125px 0px 0px;
	color: #fff;
	position: relative;
	z-index: 3;
}

footer h4 {
	padding: 2rem;
	font-family: "GT-Light";
}

#partners {
	text-align: center;
	color: #fff;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0 5%;
}

#partners ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer li {
	text-align: center;
	font-family: 'Poppins';
	font-size: 14px;
	padding-bottom: 15px;
}

#foot-links {
	margin-top: 40px;
}

#foot-links li:first-child {
	font-weight: 600;
	padding-bottom: 30px;
}

#foot-links ul {
	display: flex;
	flex-direction: column;
}

#foot-links li {
	text-align: left;
}

#foot-links img {
	max-width: 70px;
}

#socials {
	height: 100px;
	display: flex;
	flex-direction: row;
	overflow: visible;
}

#socials svg {
	width: 50%;
}

#youtube-icon {
	margin-top: 2px;
}


#legal {
	text-align: right;
}

#legal span {
	margin-left: 30px;
}

#bottom {
	justify-content: space-between;
	font-size: 12px;
	margin-top: 40px;
	color: antiquewhite;
}
