/* This is the Style Sheet for Project 1 Part 4

H1 is Poppins Bold @ 64

H2 is Poppins Bold @ 36

H3 is Poppins Medium at 32

H4 is Poppins Regular at 24

H5 is Poppins Regular at 20

Colors: ;

Cream #f5ebe0
Pink #f28482

*/

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

.row:before,
.row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}


h1 {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-size: 60px;
	color: #fff;
	margin: 0;
}


h2 {
	font-family: "Poppins", sans-serif;
	font-weight: 650;
	font-size: 36px;
	margin: 0;
}


h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	margin: 0;
	color: #344e41;
	opacity: 90%;
	background-color: #fff;
	padding: 15px;
	width: 650px;
}
h4 {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8rem;
	color: #344e41;
	opacity: 90%;
	margin: 0;
	background-color: #fff;
	padding: 15px;
	width: 250px;
}

p {
	font-family: 'Poppins', sans-serif;
	font-size: ;
	font-weight: ;
	line-height: 1.8rem;
	margin: 0;
}

/* Layout Styling */ 

.container {
	width: 1170px;
	margin: 0 auto;

}

.container-fluid {
	width: 100%;
	height: 70px;
	padding-top: ;
	padding-bottom: ;
}

/* Header Styling*/

header nav {
	width: 870px;
}

.nav-link {
	margin-top: 10px;
	margin-bottom: 0;
}

.nav-link a {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	text-align: center;
}


/* Scrapbook Styling */

body {
	height: 150vh;
	background-color: #f5ebe0;
	background-image: url("../Images/rippedpaper.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

a:hover {
	background-color: #f28482;
	opacity: 0.5;
	transition: 1s;
}

div h3 {
	margin-top: 50px;
}

.CTA {
	display: inline-block;
	border-style: none;
	background-color: #31572c;
	padding: 20px;
	border-radius: 30px;
	width: 175px;
}

.tape {
	margin-top: 800px;
	position: relative;
}

#pantone {
	margin-top: 100px;
	position: relative;
}

#plant {
	margin-top: -850px;
	margin-left: 100px;
	position: relative;
}

#flower {
	margin-top: -750px;
	margin-right: 200px;
	transform: rotate(180deg);
	position: relative;
	z-index: -1;
}

#scrapbook {
	margin: 50px auto;
}

#scrapbook-grid {
	width: 1170px;
	margin: 0 auto;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: auto auto;
}

